
@{
    ViewBag.Title = "Export";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Export data to CSV</h2>
<h3>Jonathan Cordingley</h3>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
